@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    @Html.Label("Category ID")
    @Html.TextBoxFor(x => x.CategoryId , new {@class = "form-control", @readonly = "ture"})
    <br />
    @Html.Label("Category Name")
    @Html.TextBoxFor(x => x.CategoryName, new {@class = "form-control"})
    <br />
    @Html.Label("Category Explanations")
    @Html.TextBoxFor(x => x.CategoryExplanation, new {@class = "form-control"})
    <br />
    @Html.Label("Category Status")
    @Html.TextBoxFor(x => x.CategoryStatus, new {@class = "form-control"})
    <br />
    <button class="btn btn-primary">Update Category</button>
</form>