@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateBlog", "AdminBlog", FormMethod.Post))
{
    @Html.Label("Blog ID")
    @Html.TextBoxFor(x => x.BlogID , new {@class = "form-control",@readonly = "ture"})
        <br />
    @Html.Label("Blog Title")
    @Html.TextBoxFor(x => x.BlogTitle, new {@class = "form-control"})
        <br />
    @Html.Label("Blog Content")
    @Html.TextAreaFor(x => x.BlogContent, new {@class = "form-control"})
        <br />

    @Html.Label("Blog Status")
    @Html.TextBoxFor(x => x.BlogStatus, new {@class = "form-control"})
        <br />

    @Html.Label("Blog Summery")
    @Html.TextAreaFor(x => x.BlogSummery, new {@class = "form-control"})
        <br />

    @Html.Label("Blog Image")
    @Html.TextBoxFor(x => x.BlogImage, new {@class = "form-control"})
        <br />

    @Html.Label("Blog Date Time")
    @Html.TextBoxFor(x => x.BlogDateTime, new {@class = "form-control"})
        <br />
    @Html.Label("Blog Category")
    @Html.DropDownListFor(x => x.CategoryID,(List<SelectListItem>)ViewBag.select, new{@class = "form-control"})
        <br />
        <button class="btn btn-primary">Update Blog</button>
}